@font-face {
    font-family: 'TestFont';
    src: url('./Habitual.otf') format('otf'),
        url('./Habitual.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'TestFont';
    background: url('./icon.jpg')
}